APP_NAME="Test App"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost
APP_DISPLAY_ADDRESS="35/6 duong D5, Q. Binh Thanh, TP.HCM"
APP_DISPLAY_PHONE="1800 1779"
APP_DISPLAY_EMAIL="hello@example.com"

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=bakerz
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME="your-email@gmail.com"
MAIL_PASSWORD="your-app-password"
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="your-email@gmail.com"
MAIL_FROM_NAME="${APP_NAME}"
MAIL_TEST_RECIPIENT="your-email@gmail.com"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

STORE_LATITUDE=10.80688612
STORE_LONGITUDE=106.71420533
STORE_MAP_ZOOM=12

GOOGLE_MAPS_API_KEY=
GOOGLE_MAPS_LIBRARIES=places

POWERBI_EMBED_URL="https://app.powerbi.com/reportEmbed?reportId=your-report-id&autoAuth=true&ctid=your-tenant-id&filterPaneEnabled=false&navContentPaneEnabled=false"

VNPAY_URL="https://sandbox.vnpayment.vn/paymentv2/vpcpay.html"
VNPAY_TMN_CODE="your-vnpay-terminal-code"
VNPAY_HASH_SECRET="your-vnpay-hash-secret"
VNPAY_ORDER_INFO="Bill Payment"
VNPAY_ORDER_TYPE="Bake Payment"
VNPAY_LOCALE=vn
VNPAY_CURRENCY=VND
VNPAY_EXCHANGE_RATE=25000

VITE_APP_NAME="${APP_NAME}"
