/*----------------------------------------*/
/*  03 - 02 Product CSS
/*----------------------------------------*/
/* Product Item  */
.product-item{
    position: relative;
    transition: $transition-base;
    &__badge{
        position: absolute;
        top: 20px;
        left: -20px;
        background-color: $primary;
        color: $white;
        font-size: 12px;
        font-family: $headings-font-family;
        text-transform: uppercase;
        min-width: 60px;
        text-align: center;
        padding: 5px 40px 5px 30px;
        z-index: 1;

        &::after {
            position: absolute;
            border-top: 16px solid transparent;
            border-bottom: 16px solid transparent;
            border-right: 16px solid #fff;
            right: 0;
            content: "";
            top: 0;
        }
        &::before{
            content: "";
            left: 0;
            top: 100%;
            border-left: 20px solid transparent;
            border-top: 10px solid $secondary;
            height: 0;
            width: 0;
            position: absolute;
        }
    }
    &__image{
        width: 80%;
        margin: 0 auto;
        position: relative;

        & > a{
            display: block;
        }

        & img{
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    &__image-hover{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: $transition-base;
    }
    &__meta{
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 10px;
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;

        &.meta-middle{
            top: 50%;
            transform: translate(-50%, -50%);
            bottom: auto;
        }
        &.meta-bottom{
            top: auto;
            transform: translate(-50%, -50%);
            bottom: 22px;
            gap: 0px;
            @media #{$desktop-device, $tablet-device, $large-mobile}{
                bottom: 26px;
            }
        }
    }
    &__meta-action{

        transform: translateY(100%);
        transition: $transition-base;
        opacity: 0;
        visibility: hidden;
        transition-delay: 100ms;

        & + .product-item{
            &__meta-action{
                transition-delay: 150ms;

                & + .product-item{
                    &__meta-action{
                        transition-delay: 200ms;
                    }
                }
            }
        }

        & a{
            width: 44px;
            height: 44px;
            line-height: 42px;
            font-size: 16px;
            color: $secondary;
            background-color: $white;
            box-shadow: 0 0 6px rgba($black, .1);

            @media #{$desktop-device, $tablet-device, $large-mobile}{
                width: 36px;
                height: 36px;
                line-height: 36px;
            }

            
            &.shadow-1{
                box-shadow: 0 0 1px rgba($black, .5);                
            }

            &:hover{
                background-color: $primary;
                border-color: $primary;
                color: $white;
            }
        }

        & .labtn-icon-quickview{
            &::before {
                content: "";
            }
        }
        & .labtn-icon-cart{
            &::before {
                content: "";
            }
        }
        & .labtn-icon-wishlist{
            &::before {
                content: "";
                bottom: -1px;
                position: relative;
            }
        }
        & .labtn-icon-compare{
            &::before {
                content: "";
            }
        }

        &.meta-dark{
            & a{
                color: $gray-100;
                background-color: $dark-three;
                border-color: $dark-three;
                box-shadow: 0 0 6px rgba($black, .1);
                width: 54px;
                height: 54px;
                line-height: 2.8;
                font-size: 20px;
                @media #{$desktop-device, $tablet-device, $large-mobile}{
                    width: 54px;
                    height: 44px;
                    line-height: 44px;
                    font-size: 16px;
                }
                &:hover{
                    background-color: $global-color-12;
                    border-color: $global-color-12;
                    color: $gray-100;
                }
            }
        }
    }
    &__meta-round{
        transform: translateY(100%);
        transition: $transition-base;
        opacity: 0;
        visibility: hidden;
        transition-delay: 100ms;
        z-index: 4;

        & + .product-item{
            &__meta-round{
                transition-delay: 150ms;

                & + .product-item {
                    &__meta-round {
                        transition-delay: 200ms;
                    }
                }
            }
        }

        & a{
            width: 44px;
            height: 44px;
            border-radius: 100%;
            line-height: 42px;
            font-size: 16px;
            color: #ffffff;
            background-color: transparent;
            box-shadow: 0 0 2px 0 #fff;
            @media #{$desktop-device}{
                width: 36px;
                height: 36px;
                line-height: 36px;
            }
            
            &.shadow-1{
                box-shadow: 0 0 2px 0 #fff;          
            }
            &:hover{
                background-color: $primary;
                border-color: $primary;
                color: $white;
            }
        }

        & .labtn-icon-quickview{
            &::before {
                content: "";
            }
        }
        & .labtn-icon-cart{
            &::before {
                content: "";
            }
        }
        & .labtn-icon-wishlist{
            &::before {
                content: "";
                bottom: -1px;
                position: relative;
            }
        }
        & .labtn-icon-compare{
            &::before {
                content: "";
            }
        }
    }
    &__title{
        margin-bottom: 10px;
        @media #{$tablet-device, $large-mobile}{
            font-size: 20px;
        }
    }
    &__rating{
        overflow: hidden;
        position: relative;
        line-height: 1;
        font-size: 14px;
        width: 6em;
        margin: 0 auto 10px;
        font-family: "LaStudioIcons";
        text-transform: none;
        color: #B3BDBC;
        display: inline-block;
        vertical-align: middle;
        letter-spacing: .2em;

        &::before{
            content: "";
        }
    }
    &__star-rating{
        font-size: 14px;
        font-family: "LaStudioIcons";
        letter-spacing: .2em;
        color: #F5A623;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;

        &::before{
            content: "";
        }
    }    
    &__price{
        color: $secondary;
        font-size: 22px;
        font-family: $headings-font-family;
        text-transform: uppercase;
        display: block;
        line-height: 1.4;
        margin-bottom: -4px;
        @media #{$tablet-device, $large-mobile}{
            font-size: 20px;
        }
    }
    &__arrow{
        margin-top: 25px;
    }
    &:hover{
        & .product-item{
            &__meta-action{
                transform: translateY(0);
                opacity: 1;
                visibility: visible;
            }
            &__meta-round {
                transform: translateY(0);
                opacity: 1;
                visibility: visible;
            }
            &__image-hover{
                opacity: 1;
                visibility: visible;
            }
        }
    }
    &.product-item-02{
        & .product-item{
            &__image{
                width: 67%;

                & img{
                    height: 310px;
                }
            }
            &__title{
                font-family: $font-family-base;
                font-weight: 700;
                text-transform: uppercase;
            }
            &__price{
                font-family: $font-family-base;

            }
        }

        &:hover{
            box-shadow: 0 0 30px rgba($black, .1);
        }
    }
    &.product-item-03{
        & .product-item{
            &__image{
                width: 100%;

                & img{
                    height: 310px;

                    @media #{$tablet-device}{
                        height: 235px;
                    }
                    @media #{$large-mobile}{
                        height: 190px;
                    }
                }
            }
            &__title{
                font-family: $font-family-base;
                font-weight: 700;
                text-transform: uppercase;

                & a{
                    &:hover{
                        color: $global-color-04;
                    }
                }
            }
            &__meta-action{        
                & a{        
                    &:hover{
                        background-color: $global-color-04;
                        border-color: $global-color-04;
                    }
                }               
            }
            &__price{
                font-family: $font-family-base;
            }
        }
        &:hover{
            box-shadow: 0 0 10px rgba($black, .08);
        }
    }
    &.product-item-05{
        margin: 20px 0;
        & .product-item{
            &__image {
                width: 100%;
                & img{
                    height: 250px;
                }
            }
            &__meta {
                bottom: -20px;
                & a {
                    &:hover{
                        background-color: $primary;
                        border-color: $primary;
                    }
                }               
            }
            &__content {
                padding-bottom: 40px;
            }
            &__title {
                font-size: 14px;
                font-family: $font-01;
                font-weight: 700;
                text-transform: uppercase;
                line-height: 1;
                & a{
                    &:hover{
                        color: $global-color-06;
                    }
                }
            }
            &__price {
                font-family: $font-01;
                color: $theme-body-font-color;
                font-size: 16px;
            }
        }
    }
    &.product-item-06 {
        & .product-item {
            &__image {
                width: 100%;
            }
            &__meta {
                top: 60%;
                & a {
                    &:hover {
                        background-color: $primary;
                        border-color: $primary;
                    }
                }
            }
            &__content {
                padding: 0 50px 50px 50px;
                @media #{$laptop-device, $desktop-device, $tablet-device}{
                    padding: 0 25px 30px 25px;
                }
            }
            &__title {
                font-size: 21px;
                font-family: $font-01;
                font-weight: 600;
                text-transform: uppercase;
                line-height: 1.3;
                margin-bottom: 15px;
                & a {
                    &:hover {
                        color: $global-color-06;
                    }
                }
            }
            &__text {
                color: $theme-three-color;
                font-size: 14px;
                margin-bottom: 20px;
            }
            &__price {
                font-family: $font-01;
                color: $theme-body-font-color;
                font-size: 20px;
                margin-bottom: 20px;
            }
            &__btn {
                background-color: $dark;
                font-size: 14px;
                text-transform: uppercase;
                padding: 12px 22px;
                font-weight: 700;
                line-height: 1.42;
                color: white;
                &:hover{
                    background-color: $primary;
                }
            }
        }
    }
    &.product-item-07{
        & .product-item {
            &__image {
                width: 100%;
            }
            &__content {
                padding: 30px 0 0;
                @media #{$large-mobile}{
                    padding: 20px 0 0;
                }
            }
            &__title {
                font-size: 22px;
                font-family: $font-06;
                font-weight: 400;
                text-transform: capitalize;
                line-height: 1.1;
                margin-bottom: 15px;
                @media #{$desktop-device}{
                    font-size: 20px;
                }             
                @media #{$tablet-device}{
                    font-size: 18px;
                }
                @media #{$large-mobile}{
                    font-size: 18px;
                }
                & a {
                    &:hover {
                        color: $global-color-06;
                    }
                }
            }
            &__price {
                color: #93622b;
                font-size: 26px;
                font-weight: 600;
                font-family: $font-01;
                line-height: 1.2;                
                @media #{$desktop-device}{
                    font-size: 24px;
                }             
                @media #{$tablet-device}{
                    font-size: 22px;
                }
                @media #{$large-mobile}{
                    font-size: 20px;
                }
            }
        }
    }
    &.product-item-08{
        @media #{$small-mobile}{
            max-width: 300px;
            margin: 0 auto;
        }
        & .product-item {
            &__image {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 100%;
                overflow: hidden;
                border-radius: 100%;

                & .item-img {
                    position: relative;                
                    &::after{
                        position: absolute;
                        content: "";
                        background-color: $secondary;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        z-index: 2;
                        opacity: 0;
                        visibility: hidden;
                        transition: .4s;
                    }
                }
            }
            &__content {
                padding: 40px 0 0;
                @media #{$large-mobile}{
                    padding: 30px 0 0;
                }
            }
            &__title {
                font-size: 24px;
                font-family: $font-02;
                font-weight: 400;
                text-transform: capitalize;
                line-height: 1.1;
                margin-bottom: 15px;
                color: #ffffff;
                @media #{$desktop-device}{
                    font-size: 20px;
                }             
                @media #{$tablet-device}{
                    font-size: 18px;
                }
                @media #{$large-mobile}{
                    font-size: 18px;
                }
                & a {
                    &:hover {
                        color: $global-color-06;
                    }
                }
            }
            &__price {
                color: $global-color-11;
                font-size: 36px;
                font-family: $font-07;
                line-height: 1.2;
                @media #{$desktop-device}{
                    font-size: 24px;
                }             
                @media #{$tablet-device}{
                    font-size: 22px;
                }
                @media #{$large-mobile}{
                    font-size: 20px;
                }
            }
        }
        &:hover{
            & .product-item {
                &__image {
                    & .item-img {           
                        &::after{
                            opacity: .9;
                            visibility: visible;
                            transition: .4s;
                        }
                    }
                }
            }
        }
    }
    &.product-item-09{
        background-color: #ffffff;
        border: 2px solid $dark-three;
        padding: 40px;
        box-shadow: 0 0 30px rgb(0 0 0 / 10%);
        @media #{$tablet-device, $large-mobile}{
            padding: 30px 20px;
        }
        & .product-item {
            &__image {
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                & .item-img {
                    position: relative;                
                    &::after{
                        position: absolute;
                        content: "";
                        background-color: $secondary;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        z-index: 2;
                        opacity: 0;
                        visibility: hidden;
                        transition: .4s;
                    }
                }
            }
            &__title {
                font-size: 25px;
                font-family: $font-08;
                font-weight: 700;
                color: $dark-three;
                text-transform: capitalize;
                line-height: 1.3;
                margin-bottom: 10px;
                @media #{$desktop-device}{
                    font-size: 20px;
                }             
                @media #{$tablet-device}{
                    font-size: 18px;
                }
                @media #{$large-mobile}{
                    font-size: 18px;
                }
                & a {
                    &:hover {
                        color: $global-color-12;
                    }
                }
            }
            &__price {
                color: $dark-three;
                font-size: 26px;
                font-family: $font-08;
                font-weight: 700;
                line-height: 1.3;
                @media #{$desktop-device}{
                    font-size: 24px;
                }             
                @media #{$tablet-device}{
                    font-size: 22px;
                }
                @media #{$large-mobile}{
                    font-size: 20px;
                }
            }
            &__btn {
                font-size: 18px;
                font-weight: 700;
                font-family: $font-08;
                text-transform: capitalize;
                padding: 12px 31px;
                line-height: 1.42;
                color: $gray-100;
                background-color: $dark-three;
                &:hover{
                    background-color: $global-color-12;
                    color: #ffffff;
                }
            }
        }
    }
}
[class*="labtn-icon-"]{
    font-family: "LaStudioIcons";
    display: inline-block;
    vertical-align: middle;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-rendering: auto;
}
/* Product Tab Menu */
.product-tab-menu {
    & .nav{
        gap: 0 80px;
        @media #{$tablet-device}{
            gap: 0 60px;
        }
        @media #{$large-mobile}{
            gap: 0 40px;
        }
        & > *{
            position: relative;
            &::after{
                position: absolute;
                content: '';
                width: 1px;
                height: 9px;
                background-color: $theme-three-color;
                left: -40px;
                top: 8px;

                @media #{$tablet-device}{
                    left: -30px;
                }
                @media #{$large-mobile}{
                    left: -20px;
                }
            }
            &:first-child{
                &::after{
                    display: none;
                }
            }
        }
        & li{
            & button {
                border: 0;
                padding: 0;
                background: none;
                font-size: 19px;
                line-height: 1;
                color: $theme-three-color;
                position: relative;
                padding-bottom: 14px;
                @media #{$large-mobile}{
                    font-size: 16px;
                }

                &::before{
                    position: absolute;
                    content: '';
                    width: 4px;
                    height: 4px;
                    border-radius: 50px;
                    background-color: $primary;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 0;
                    opacity: 0;
                    visibility: hidden;
                    transition: $transition-base;
                }

                &.active{
                    color: $primary;

                    &::before{
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
}
.product-tab-menu-two {
    margin: 60px 0;
    @media #{$tablet-device, $large-mobile}{
        margin: 40px 0px;
    }
    & .nav{
        & li{
            & button {
                color: #ffffff;
                font-family: $font-02;
                font-size: 20px;
                font-weight: 400;
                text-transform: uppercase;
                padding: 20px 60px;
                background-position: center;
                background-repeat: no-repeat;
                background-color: transparent;
                border: 0px;
                @media #{$desktop-device, $tablet-device}{
                    padding: 10px 40px;
                }
                @media #{$large-mobile}{
                    padding: 10px 20px;
                    font-size: 18px;
                }
                &.active{
                    background-image: url(../../assets/images/shape/tab-menu-shape.png);
                }
            }
        }
    }
}
/* Product Item Style 01 */
.product-item-style-01 {
    overflow: hidden;
    border-radius: 36px;
    position: relative;

    &__image{
        & a{
            display: block;
        }
        & img{
            width: 100%;
        }
    }
    &__meta{
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }
    &__meta-action{
        transform: translateY(100%);
        transition: $transition-base;
        opacity: 0;
        visibility: hidden;
        transition-delay: 100ms;

        & + .product-item-style-01{
            &__meta-action{
                transition-delay: 150ms;

                & + .product-item-style-01{
                    &__meta-action{
                        transition-delay: 200ms;
                    }
                }
            }
        }

        & a{
            width: 44px;
            height: 44px;
            line-height: 42px;
            text-align: center;
            font-size: 16px;
            color: $white;
            background-color: $primary;
            box-shadow: 0 0 6px rgba($black, .1);
            border-radius: 50%;

            @media #{$desktop-device}{
                width: 36px;
                height: 36px;
                line-height: 36px;
            }
            
            &.shadow-1{
                box-shadow: 0 0 1px rgba($black, .5);                
            }

            &:hover{
                background-color: $secondary;
                border-color: $secondary;
                color: $white;
            }
        }

        & .labtn-icon-quickview{
            &::before {
                content: "";
            }
        }
        & .labtn-icon-cart{
            &::before {
                content: "";
            }
        }
        & .labtn-icon-wishlist{
            &::before {
                content: "";
                bottom: -1px;
                position: relative;
            }
        }
        & .labtn-icon-compare{
            &::before {
                content: "";
            }
        }
    }
    &__content-wrapper{
        position: absolute;
        bottom: -100px;
        opacity: 0;
        visibility: hidden;
        left: 0;
        width: 100%;
        background-color: rgba($white, .7);
        padding: 20px 30px;
        transition: $transition-base;
    }
    &__content{
        padding-right: 10px;
    }
    &__title{
        margin-bottom: 4px;
        font-size: 16px;
        font-weight: 600;
        font-family: $font-family-base;
    }
    &__rating{
        overflow: hidden;
        position: relative;
        line-height: 1;
        font-size: 14px;
        width: 6em;
        margin: 0 auto 6px;
        font-family: "LaStudioIcons";
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #B3BDBC;
        display: inline-block;
        vertical-align: middle;
        letter-spacing: .2em;

        &::before{
            content: "";
        }
    }
    &__star-rating{
        font-size: 14px;
        font-family: "LaStudioIcons";
        letter-spacing: .2em;
        color: #F5A623;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;

        &::before{
            content: "";
        }
    } 
    &__price{
        color: $global-color-05;
        font-size: 18px;
        font-weight: 700;
        display: block;
        line-height: 1.4;
        margin-bottom: -4px;
    }
    &__cart{
        & a{
            width: 44px;
            height: 44px;
            line-height: 42px;
            text-align: center;
            font-size: 16px;
            color: $white;
            background-color: $primary;
            box-shadow: 0 0 6px rgba($black, .1);
            border-radius: 50%;

            @media #{$desktop-device}{
                width: 36px;
                height: 36px;
                line-height: 36px;
            }
            
            &.shadow-1{
                box-shadow: 0 0 1px rgba($black, .5);                
            }

            &:hover{
                background-color: $secondary;
                border-color: $secondary;
                color: $white;
            }
        }
        & .labtn-icon-cart{
            &::before {
                content: "";
            }
        }
    }
    &:hover{
        & .product-item-style-01{
            &__meta-action{
                transform: translateY(0);
                opacity: 1;
                visibility: visible;
            }
            &__image-hover{
                opacity: 1;
                visibility: visible;
            }
            &__content-wrapper{
                bottom: 0;
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
/* Product Active */
.product-active, .product-active-two, .product-active-three {
    position: relative;

    & .swiper-button-next,
    & .swiper-button-prev{        
        display: flex;
        justify-content: center;
        align-items: center;
        transition: $transition-base;
        background-color: $white;
        color: $secondary;
        width: 40px;
        height: 40px;
        font-size: 16px;
        text-align: center;

        &::after{
            display: none;
        }

        &:hover{
            background-color: $global-color-05;
            color: $white;
        }
    }

    & .swiper-button-next{
        right: 0;
    }
    & .swiper-button-prev{
        left: 0;
    }
}
/* Product Products */
.featured-product-item {
    &__content{
        & + .featured-product-item{
            &__content{
                margin-top: 80px;
                @media #{$desktop-device}{
                    margin-top: 25px;
                }
                @media #{$tablet-device, $large-mobile}{
                    margin-top: 15px;
                }
            }
        }
        & p{
            color: $global-color-01;
            font-size: 14px;
            line-height: 1.8em;
            @media #{$tablet-device, $large-mobile}{
                font-size: 12px;
            }
        }
    }
    &__title{
        margin-bottom: 15px;
        font-family: $font-family-base;
        font-size: 24px;
        font-weight: 600;
        @media #{$desktop-device}{
            margin-bottom: 10px;
            font-size: 20px;
        }
        @media #{$tablet-device, $large-mobile}{
            margin-bottom: 5px;
            font-size: 16px;
        }
    }
    &__image{
        position: relative;
        display: flex;
        justify-content: center;
        & .image{
            margin: 0 -30px;
        }
    }
    &__iconbox{
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        gap: 14px;
        left: 50%;
        transform: translateX(-50%);
        bottom: 30px;

        background-color: $white;
        padding: 5px 5px 5px 25px;
        box-shadow: 0 0 20px 0 rgba($black, .1);
        border-radius: 50px;
        -ms-grid-row-align: center;
        align-items: center;

        &:hover{
            & .featured-product-item{
                &__iconbox-icon{
                    background-color: $secondary;
                }
            }
        }
    }
    &__iconbox-icon{
        color: $white;
        background-color: $global-color-05;
        border-radius: 50%;
        font-size: 30px;
        height: 50px;
        width: 50px;
        line-height: 50px;
        text-align: center;
        transition: $transition-base;
    }
    &__iconbox-title{
        font-size: 18px;
        font-weight: 600;
        line-height: 1;
        margin-top: 3px;
    }
    &__iconbox-desc{
        color: $global-color-01;
        font-size: 12px;
        font-weight: 500;
    }
}
/* Product Product Active */
.featured-product-active {
    position: relative;
    padding-bottom: 50px;

    & .swiper-pagination{
        bottom: 0px;
        display: flex;
        justify-content: center;
        gap: 20px;
        z-index: 7;

        & .swiper-pagination-bullet{
            outline: none;
            background-color: $secondary;
            transition: $transition-base;
            width: 8px;
            height: 8px;
            display: block;
            position: relative;

            &.swiper-pagination-bullet-active{
                opacity: 1;
                transform: scale(1.1);
            }
        }
    }
}
/* Product Item  */
.product-list {
    &__title{
        font-family: $font-family-base;
        font-size: 30px;
        font-weight: 700;
        position: relative;
        padding-bottom: 15px;
        margin-bottom: 70px;
        @media #{$desktop-device} {
            font-size: 26px;
            margin-bottom: 50px;
        }
        @media #{$tablet-device, $large-mobile} {
            font-size: 22px;
            margin-bottom: 30px;
        }

        &::before{
            position: absolute;
            content: '';
            width: 70px;
            height: 3px;
            background-color: $secondary;
            left: 0;
            bottom: 0;
        }
    }
}
/* Product Item  */
.product-list-item {
    position: relative;
    transition: $transition-base;
    display: flex;
    flex-wrap: wrap;

    & + .product-list-item{
        margin-top: 80px;
        @media #{$desktop-device, $tablet-device, $large-mobile} {
            margin-top: 40px;
        }
    }

    &__badge{
        position: absolute;
        top: 15px;
        left: -12px;
        background-color: $primary;
        color: $white;
        font-size: 12px;
        font-family: $headings-font-family;
        text-transform: uppercase;
        min-width: 60px;
        text-align: center;
        padding: 1px 25px 2px 15px;
        z-index: 1;

        &::after {
            position: absolute;
            border-top: 12px solid transparent;
            border-bottom: 12px solid transparent;
            border-right: 12px solid #fff;
            right: 0;
            content: "";
            top: 0;
        }
        &::before{
            content: "";
            left: 0;
            top: 100%;
            border-left: 12px solid transparent;
            border-top: 6px solid $secondary;
            height: 0;
            width: 0;
            position: absolute;
        }
    }
    &__thumbnail{
        position: relative;
        width: 40%;

        & > a{
            display: block;
            position: relative;
            padding-bottom: 100%;
        }

        & img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    &__image-hover{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: $transition-base;
    }
    &__meta{
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 10px;
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;

        &.meta-middle{
            top: 50%;
            transform: translate(-50%, -50%);
            bottom: auto;
        }
    }
    &__meta-action{
        transform: translateY(100%);
        transition: $transition-base;
        opacity: 0;
        visibility: hidden;
        transition-delay: 100ms;

        & + .product-list-item{
            &__meta-action{
                transition-delay: 150ms;

                & + .product-list-item{
                    &__meta-action{
                        transition-delay: 200ms;
                    }
                }
            }
        }

        & a{
            width: 44px;
            height: 44px;
            line-height: 42px;
            font-size: 16px;
            color: $secondary;
            background-color: $white;
            box-shadow: 0 0 6px rgba($black, .1);
            text-align: center;
            border-radius: 50%;

            @media #{$desktop-device}{
                width: 36px;
                height: 36px;
                line-height: 36px;
            }
            
            &.shadow-1{
                box-shadow: 0 0 1px rgba($black, .5);                
            }

            &:hover{
                background-color: $primary;
                border-color: $primary;
                color: $white;
            }
        }

        & .labtn-icon-quickview{
            &::before {
                content: "";
            }
        }
        & .labtn-icon-cart{
            &::before {
                content: "";
            }
        }
        & .labtn-icon-wishlist{
            &::before {
                content: "";
                bottom: -1px;
                position: relative;
            }
        }
        & .labtn-icon-compare{
            &::before {
                content: "";
            }
        }
    }
    &__info{
        width: 60%;
        padding-left: 30px;
        @media #{$desktop-device, $tablet-device, $large-mobile} {
            padding-left: 15px;
        }
    }
    &__title{
        font-family: $font-family-base;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    &__price{
        font-size: 16px;
        text-transform: uppercase;
        display: block;
        line-height: 1.4;
        margin-bottom: 8px;
    }
    &__rating{
        overflow: hidden;
        position: relative;
        line-height: 1;
        font-size: 13px;
        width: 6em;
        margin: 0 auto 10px;
        font-family: "LaStudioIcons";
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #B3BDBC;
        display: inline-block;
        vertical-align: middle;
        letter-spacing: .2em;

        &::before{
            content: "";
        }
    }
    &__star-rating{
        font-size: 13px;
        font-family: "LaStudioIcons";
        letter-spacing: .2em;
        color: #FFE604;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;

        &::before{
            content: "";
        }
    }   
    & p{
        color: $global-color-01;
        font-size: 14px;
        @media #{$desktop-device, $tablet-device, $large-mobile} {
            font-size: 12px;
        }
    }

    &:hover{
        & .product-list-item{
            &__meta-action{
                transform: translateY(0);
                opacity: 1;
                visibility: visible;
            }
            &__image-hover{
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
/* Product row */
.product-row {
    display: flex;
    align-items: center;
    @media #{$large-mobile}{
        flex-direction: column;
    }
    & .product-wrapper {
        max-width: 68.665%;
        width: 100%;
        margin-bottom: -20px;
        @media #{$large-mobile}{
            max-width: 100%;
        }
    }
    & .boxbanner-wrapper {
        max-width: 31.333%;
        width: 100%;
        @media #{$large-mobile} {
            max-width: 100%;
        }
    }
}
/* Product Deal Section */
.deal-two{
    &_bg{
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &_content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &_subtitle{
        color: $global-color-12;
        font-size: 21px;
        font-weight: 400;
        text-transform: capitalize;
        margin-bottom: 10px;
        line-height: 1.2;
        @media #{$tablet-device, $large-mobile} {
            font-size: 18px;
        }
    }
    &_title{
        color: $gray-100;
        font-family: $font-08;
        font-size: 46px;
        font-weight: 700;
        text-transform: capitalize;
        line-height: 1.3;
        margin-bottom: 30px;
        @media #{$tablet-device, $large-mobile} {
            font-size: 30px;
            margin-bottom: 20px;
        }
    }
    &_price{
        color: $gray-100;
        font-family: $font-08;
        font-size: 70px;
        font-weight: 700;
        line-height: 1.3;
        margin-bottom: 20px;
        @media #{$tablet-device, $large-mobile} {
            font-size: 40px;
        }
        & span{
            font-size: 30px;
            position: relative;
            margin-right: 15px;
            margin-top: -10px;
        }
    }
    &_meta{
        position: relative;
        left: 0;
        transform: translateX(0);
        bottom: 0;
        & .product-item__meta-action {
            visibility: visible;
            opacity: 1;
            transform: translateY(0%);

            & a {
                text-align: center;
                background-color: $gray-100;
                color: $global-color-12;
                border-radius: 100%;
                font-size: 22px;
                width: 60px;
                height: 60px;
                line-height: 60px;
                @media #{$tablet-device, $large-mobile} {
                    font-size: 18px;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                }
                &:hover {
                    background-color: $global-color-12;
                    color: #ffffff;
                }
            }
        }
    }
    &_images{
        position: relative;
    }
    &_sale{
        position: absolute;
        right: -47px;
        top: 24px;
        max-width: 180px;
        width: 100%;
        @media #{$desktop-device} {
            max-width: 120px;
            right: -20px;
        }
        @media #{$tablet-device} {
            max-width: 70px;
            right: -10px;
        }
        @media #{$large-mobile} {
            max-width: 100px;
            right: 0px;
        }
    }
}
/* Product Countdown */
.countdown-wrapper {
	& .single-countdown{
        display: inline-block;
        margin-right: 30px;
        padding-right: 30px;
        margin-bottom: 5px;
        text-align: center;
        position: relative;
        @media #{$tablet-device, $large-mobile} {
            margin-right: 20px;
            padding-right: 20px;
        }
        &:after{
            content: ":";
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            font-size: 30px;
            color: #fff;
            @media #{$tablet-device, $large-mobile} {
                font-size: 20px;
            }
        }
        &:last-child{
            margin-right: 0;
            padding-right: 0;
            &:after{
                display: none;
            }
        }
		& .single-countdown_time{
			font-size: 40px;
            line-height: 1.2;
			font-weight: 500;
            font-family: $font-01;
			color: $global-color-12;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            @media #{$tablet-device, $large-mobile} {
                font-size: 30px;
            }
		}
		& .single-countdown_text{
			font-weight: 400;
			color: $white;
            font-size: 20px;
            font-family: $font-08;
            text-transform: capitalize;
            line-height: 1;
            @media #{$tablet-device, $large-mobile} {
                font-size: 16px;
            }
		}
	}
}
/* Product Background Shape */
.product-shape-one{
    position: absolute;
    left: 0;
    z-index: 0;
    top: 25%;
    width: 100%;
    max-width: 632px;
    @media #{$desktop-device} {
        max-width: 400px;
    }
    @media #{$tablet-device} {
        max-width: 300px;
    }
    @media #{$large-mobile} {
        max-width: 200px;
    }
}
.product-shape-two{
    position: absolute;
    right: 0;
    width: 100%;
    max-width: 290px;
    z-index: 0;
    top: -10px;
    @media #{$desktop-device} {
        max-width: 220px;
    }
    @media #{$tablet-device} {
        max-width: 180px;
    }
    @media #{$large-mobile} {
        max-width: 100px;
    }
}
.product-shape-three{
    position: absolute;
    right: 10%;
    z-index: 0;
    width: 100%;
    max-width: 580px;
    bottom: 5%;
    @media #{$desktop-device} {
        max-width: 400px;
    }
    @media #{$tablet-device} {
        max-width: 300px;
    }
    @media #{$large-mobile} {
        max-width: 200px;
    }
}