/*----------------------------------------*/
/*  03 - 15 Category CSS
/*----------------------------------------*/
// Category Item 
.category-item{
    &__image{
        @media #{$laptop-device, $large-mobile}{
            width: 75%;
            margin: 0 auto;
        }
        & a{
            display: block;
        }
        & img{
            border-radius: 50%;
            transition: $transition-base;
        }
    }
    &__content{
        margin-top: 40px;

        @media #{$laptop-device}{
            margin-top: 30px;
        }
    }
    &__title{
        font-family: $font-03;
        font-size: 36px;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 1.3;

        @media #{$laptop-device}{
            font-size: 26px;
        }
        @media #{$tablet-device}{
            font-size: 22px;
        }
        @media #{$large-mobile}{
            font-size: 24px;
        }

        & a{
            &:hover{
                color: $global-color-04;
            }
        }
    }
    & p{
        margin-top: 10px;
        padding: 0 30px;
        font-size: 14px;
        color: $global-color-01;

        @media #{$tablet-device}{
            padding: 0;
        }
        @media #{$large-mobile}{
            padding: 0;
            font-size: 16px;
        }
    }
    &__more{
        margin-top: 30px;
        padding: 12px 0;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 1em;
        color: $secondary;
        position: relative;

        @media #{$laptop-device, $tablet-device, $large-mobile}{
            font-size: 14px;
            margin-top: 20px;
            padding: 6px 0;
        }

        &::before{
            content: "";
            border-bottom: 2px solid;
            display: block;
            width: 20px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            transition: width 0.3s;
        }

        &:hover{
            color: $global-color-04;

            &::before{
                width: 100%;
            }
        }
    }

    &:hover{
        & .category-item{
            &__image{
                & img{
                    opacity: 0.8;
                }
            }
        }
    }
}
// Category Box 
.category-box{
    box-shadow: 0 0 20px 0 rgba(0,0,0,.1);
    background-color: $white;
    border-radius: 36px;
    padding: 0 20px;
}
// Category Box Item
.category-box-item{
    padding: 60px 0;
    @media #{$large-mobile}{
        padding: 30px 0;
    }
    &__icon{
        & a{
            font-size: 70px;
            color: #FFC887;
            line-height: 1;
            @media #{$large-mobile}{
                font-size: 50px;
            }
            @media #{$extra-small-mobile}{
                font-size: 40px;
            }
            & svg {
                width: 1em;
                height: 1em;
            }
            &:hover {
                color: $global-color-05;
            }
        }
    }
    &__content{
        margin-top: 12px;
    }
    &__title{
        font-size: 20px;
        font-family: $font-family-base;
        font-weight: 700;
        color: $global-color-01;
        @media #{$large-mobile}{
            font-size: 18px;
        }
        @media #{$small-mobile}{
            font-size: 14px;
        }
        @media #{$extra-small-mobile}{
            font-size: 12px;
        }
    }
}

// Category Three Style 
.category-three_bg{
    background-position: center;
    background-repeat: repeat-x;
    padding: 160px 0 100px; 
    @media #{$desktop-device}{
        padding: 100px 0 100px; 
    }
    @media #{$tablet-device}{
        padding: 80px 0 80px; 
    }
    @media #{$large-mobile}{
        padding: 60px 0 60px; 
    }
}
.category-three{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &_thumb {
        margin-bottom: 40px;
        @media #{$desktop-device, $tablet-device, $large-mobile}{
            margin-bottom: 20px;
        }
    }
    &_title{
        margin-bottom: 60px;
        color: #ffffff;
        font-family: $font-07;
        font-size: 28px;
        font-weight: 400;
        text-transform: uppercase;
        @media #{$desktop-device}{
            font-size: 24px;
            margin-bottom: 30px;
        }
        @media #{$tablet-device, $large-mobile}{
            font-size: 20px;
            margin-bottom: 20px;
        }
    }
    &_more{
        font-family: $font-02;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        border-bottom: 1px solid #ffffff;
        color: #ffffff;
        padding: 10px;
        line-height: 1.2;

        &:hover{
            color: $global-color-11;
            border-color: $global-color-11;
        }
    }
}
// Category Four Style 
.category-four_bg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.category-four {
    &_wrapper{
        & .col{
            &:nth-of-type(odd){
                .category-four_box{
                    bottom: -40px;
                    @media #{$tablet-device}{
                        bottom: -20px;
                    }
                    @media #{$large-mobile}{
                        bottom: -10px;
                    }
                }
                .category-four_border{
                    top: -20px;
                }
            }
            &:nth-of-type(even){
                .category-four_box{
                    top: -40px;
                    @media #{$tablet-device}{
                        top: -20px;
                    }
                    @media #{$large-mobile}{
                        top: -10px;
                    }
                }
                .category-four_border{
                    bottom: -20px;
                }
            }
        }
    }
    &_box{

        position: relative;
        &:hover{
            & .category-four_name{
                background-color: $global-color-12;
                color: #ffffff;
                transition: .4s;
            }
        }
    }
    &_thumb{
        width: 100%;
        position: relative;
        z-index: 2;
        & img{
            width: 100%;
        }
    }
    &_content{
        text-align: center;
        position: relative;
        z-index: 2;
    }
    &_name{
        padding: 25px 20px;
        font-family: $font-08;
        font-size: 28px;
        font-weight: 700;
        font-style: italic;
        color: $dark-three;
        background-color: #ffffff;
        display: block;
        line-height: 1;
        transition: .4s;
        @media #{$tablet-device}{
            font-size: 24px;
        }
        @media #{$large-mobile}{
            padding: 15px 10px;
            font-size: 20px;
        }
        @media #{$extra-small-mobile}{
            font-size: 18px;
        }
    }
    &_border{
        border: 2px solid #C3956C;
        width: 90%;
        height: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }
}

