/*----------------------------------------*/
/*  03 - 29 404 & Comming Soon CSS
/*----------------------------------------*/
/* 404 Error */
.error{
    height: 90vh;
    display: flex;
    align-items: center;
    &-content {
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
        @media #{$tablet-device, $large-mobile} {
            text-align: center;
        }
        &__title{
            font-family: $font-01;
            font-size: 38px;
            font-weight: 700;
            text-transform: uppercase;
            @media #{$large-mobile} {
                font-size: 30px;
            }
        }
        &__text{
            color: $global-color-01;
            margin: 30px 0 50px;
        }
        & .btn {
            border-radius: 30px;
        }
    }
}
/* Coming Soon */
.coming{
    display: flex;
    align-items: center;
    @media #{$large-mobile} {
        flex-direction: column;
    }
    &-col {
        width: 50%;
        @media #{$desktop-device} {
            width: 60%;
        }
        @media #{$tablet-device} {
            width: 62%;
        }
        @media #{$large-mobile} {
            width: 100%;
        }
    }
    &-bg {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @media #{$desktop-device} {
            width: 40%;
        }
        @media #{$tablet-device} {
            width: 38%;
        }
        @media #{$large-mobile} {
            width: 100%;
            height: 25vh;
        }
        &__logo {
            width: 240px;
            height: 100%;
            position: relative;
            z-index: 9;        
            @media #{$desktop-device, $tablet-device} {
                width: 150px;
            }
            @media #{$large-mobile} {
                width: 100px;
            }
        }
        &::before {
            position: absolute;
            content: "";
            background-color: rgba(0,0,0,0.2);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
    &-content{
        text-align: center;
        padding: 100px 50px;
        @media #{$tablet-device} {
            padding: 80px 30px;
        }
        @media #{$large-mobile} {
            padding: 60px 20px;
        }
    }
    &-title{
        font-family: $font-01;
        font-weight: 700;
        font-size: 70px;
        text-transform: uppercase;
        color: #980002;
        line-height: 1;
        @media #{$laptop-device, $desktop-device} {
            font-size: 60px;
        }
        @media #{$tablet-device} {
            font-size: 50px;
        }
        @media #{$large-mobile} {
            font-size: 40px;
        }
        @media #{$small-mobile} {
            font-size: 30px;
        }
    }
    &-text{
        color: $global-color-01;
        margin: 20px 0 60px;
        @media #{$desktop-device, $tablet-device} {
            margin: 10px 0 40px;
        }
        @media #{$large-mobile} {
            margin: 10px 0 30px;
        }
    }
    &-form{
        position: relative;
        max-width: 650px;
        width: 100%;
        margin: 50px auto 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media #{$extra-small-mobile} {
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            margin-top: 30px;
        }
        &__input{
            border: 1px solid rgba(0,0,0,0.20);
            border-radius: 30px;
            color: $global-color-01;
            font-size: 16px;
            flex: 1 1 auto;
            padding: 20px 40px;
            line-height: 1.1;
            height: 55px;
            max-width: 440px;
            width: 100%;
        }
        &__btn{
            flex: 0 1 auto;
            margin-left: 20px;
            border-radius: 30px;
            font-size: 18px;
            min-width: 160px;
            @media #{$desktop-device} {
                height: 56px;
                line-height: 56px;
            }
            @media #{$tablet-device, $large-mobile} {
                height: 56px;
                line-height: 56px;
                font-size: 14px;
                min-width: 120px;
                padding: 0 10px;
            }
            @media #{$extra-small-mobile} {
                width: 160px;
                margin-top: 20px;
                margin-left: 0;
            }
        }
    }
    &-social{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        & a {
            font-size: 20px;
            color: $global-color-01;
            margin: 0 20px;
            &:hover{
                color: $primary;
            }
        }
    }
}
/* Countdown */
.coming-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
	& .single-countdown{
        width: 110px;
        margin: 0 15px;
        @media #{$large-mobile} {
            margin: 0 8px;
        }
		& .single-countdown_time {
			font-size: 42px;
			font-weight: 500;
            font-family: $font-01;
            line-height: 1.6;
			color: #8f8f8f;
            background-color: #ffffff;
            box-shadow: 0 0 10px 0 rgba(0,0,0,0.10);
            padding: 18px 0;
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            @media #{$laptop-device} {
                font-size: 36px;
            }
            @media #{$desktop-device, $tablet-device, $large-mobile} {
                font-size: 30px;
                margin-bottom: 10px;
            }
            @media #{$extra-small-mobile} {
                font-size: 24px;
            }
		}
		& .single-countdown_text {
			font-size: 18px;
            font-weight: 700;
            font-family: $font-01;
            line-height: 1;
            color: $primary;
            @media #{$desktop-device, $tablet-device, $large-mobile} {
                font-size: 15px;
            }
		}
	}
}